header.header
    .container
        .row.align-items-center
            .col-2
                .header__block
                    a.header__logo(href='#')
                        img(src='assets/image/logo.png')
            .col-3.d-mobile-none
                .header__block
                    .header__icon
                        img(src='assets/image/icon-adres.png')
                    .header__content
                        p м. Кропоткинская
                        p Соймоновский проезд, д.7 с.1
            .col-3.d-mobile-none
                .header__block
                    .header__icon
                        img(src='assets/image/icon-clock.png')
                    .header__content
                        p Пн - Пт     11 - 20
                        p Сб - Вск    11 - 18
            .col-3.d-mobile-none
                .header__block
                    .header__icon
                        img(src='assets/image/icon-phone.png')
                    .header__content
                        p +7 800 000 00 00
                        p +7 800 000 00 00
            .col-8.col-lg-1
                .header__block
                    .header__icon.header__icon-basket
                        img(src='assets/image/icon-basket.png')

            .menu.col-2
                input#menu__toggle(type='checkbox')
                label.menu__btn(for='menu__toggle')
                    span
                ul.menu__box
                    li
                        a.menu__item(href='#') Пряжа
                    li
                        a.menu__item(href='#') Спицы
                    li
                        a.menu__item(href='#') Крючки
                    li
                        a.menu__item(href='#') Аксессуары
                    li
                        a.menu__item(href='#') Контакты
                    li
                        a.menu__item(href='#') Подарочные сертификаты
                    li
                        a.menu__item(href='#') МК и описания
                    li
                        a.menu__item(href='#') Модели

                    li.menu__info
                        p м. Кропоткинская
                        p Соймоновский проезд, д.7 с.1
                    li.menu__info
                        p Пн - Пт     11 - 20
                        p Сб - Вск    11 - 18
                    li.menu__info
                        p +7 800 000 00 00
                        p +7 800 000 00 00

nav.navbar
    .navbar__list.container
        a.navbar__link(href='#') Пряжа
        a.navbar__link(href='#') Спицы
        a.navbar__link(href='#') Крючки
        a.navbar__link(href='#') Аксессуары
        a.navbar__link(href='#') Подарочные сертификаты
        a.navbar__link(href='#') МК и описания
        a.navbar__link(href='#') Модели