// COLORS
$black: #000000;
$white: #ffffff;
$green: #497952;
$grey: #535353;
$pink: #F9EDF0;

$font-size: 14px;

// Grid
$columns: 12;
$max-width-layout: 1140;
$padding-col: 15px;

// Breakpoints
$small-breakpoint: 576px;
$medium-breakpoint: 768px;
$large-breakpoint: 992px;
$xlarge-breakpoint: 1200px;

// Containers
$small-container: 540px;
$medium-container: 720px;
$large-container: 960px;
$xlarge-container: 1140px;


//MARGINS AND PADDINGS
$indent-small: 10px;
$indent-normal: 20px;
$indent-middle: 35px;
$indent-large: 70px;

//FONTS
$font-family: OpenSans;